.card{
    background-color: rgba(255, 255, 255, .5)!important;
}

.mystic{
    width: 300px;
    height: 300px;
    
    position: absolute;
    top:50vh;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
}
