body {
    padding: 0;
    margin: 0;
    background-color: #130d0a;
    font-family: "Playfair Display", serif;
    color: #fff;
}
#hero {
    height: 700px;
    overflow: hidden;
    position: relative;
}
#content {
    background-color: #130d0a;
}
.layer {
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 700px;
    position: fixed;
    z-index: -1;
}
.first-section {
    padding: 50px 0 20px 0;
}
.text-header {
    font-size: 50px;
    text-align: center;
}
h2 {
    line-height: 120%;
    margin-bottom: 30px;
    font-weight: 900;
    line-height: 1em;
    margin: 1em 0;
}
p {
    color: #ede0d5;
    font-size: 20px;
    line-height: 150%;
}
#hero, .layer {
    min-height: 700px;
}
.layer-bg {
    background-image: url("../img/ilu_bg.jpg");
}
.layer-1 {
    background-image: url("../img/ilu_03.png");
    background-size: cover;
background-repeat: no-repeat;
}
.layer-2 {
    background-image: url("../img/ilu_02.png");
}
.layer-3 {
    /*background-image: url("../img/ilu_man.png");*/
    background-position: right bottom;
}
.layer-4 {
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 700px;
    position: absolute;
    z-index: -1;
    background-image: url("../img/ilu_01.png");
}
.layer-overlay {
    background-image: url("../img/ilu_overlay.png");
}
@media only screen and (max-width: 768px) {
    .layer {
        background-size: auto;
    }
    .layer-1 {
        background-size: auto;
    }
    .layer-4 {
        background-size: auto;
    }
    #title-mystic{
        font-size: 60px;
    }
}
.tutorial-link {
    color: #fff;
    font-size: 18px;
    text-decoration: underline;
}
.tutorial-link:hover {
    color: #ede0d5;
}